<% provide(:pageheading, 'Overview') %>

<div class="col-md-9">
   <h2 class="pink_writing">Overview</h2>
   <p>The HIE Current Data pages show the current status of different data streams and data statistics within HIE. If you would like to 
   	have a particular set of data added to these pages please email g.devine@westernsydney.edu.au to discuss.</p>   
</div>
        
