<% provide(:pageheading, 'EucFACE') %>

<div class="col-md-9">

  <div class="thumbnail">
    <div class="caption-full">
      <h4 class="pull-right">Photo</h4>
      <h4 class="pink_writing">Face Surveillance Camera</h4>
      <p>Daily snapshot from the canopy at EucFACE and the adjacent Supersite in the background</p>
    </div>
    <div class="padded_sides_10 pink_writing"> 
      <p class="pull-right"><%= link_to "View", eucface_camera_path %></p>  
      <p>Available in HIEv</p>
    </div>
  </div>  
  
  <div class="thumbnail">
    <div class="caption-full">
      <h4 class="pull-right">Chart</h4>
      <h4 class="pink_writing">2m Temperature at FACE site</h4>
      <p>2m temperature taken at the FACE site </p>
    </div>
    <div class="padded_sides_10 pink_writing">
      <p class="pull-right"><a href="#">View</a></p>      
      <p>Available in HIEv</p>
    </div>
  </div>

</div>
        
