<% provide(:pageheading, 'HIEv Usage') %>

<div class="col-md-9">

	<p>
    The following table lists the number of requests (search, download file, etc)
    made to the HIEV application each day. This includes requests made via both the
    HIEV webpage and the HIEV API. Currently, the stats list total requests
    made, as well as requests originating from the
    <a href="https://bitbucket.org/remkoduursma/hiev">HIEv R</a> package. It should
    be noted that the tallys recorded include the individual requests,
    of which there may be several (e.g. looping over search API calls), made within
    individual hiev-interfacing scripts.
  </p>

  <br/>
  
	<table id="results" class="table table-striped table-hover table-bordered">
		<thead>
			<th>Date</th>
			<th>Total HIEv requests</th>
			<th>Total HIEvR requests</th>
			<th>Total HIEvR Search requests</th>
		</thead>
		<tbody>
		</tbody>
	</table>

</div>
