<% provide(:pageheading, 'HIEv Data listings') %>

<div class="col-md-9">

	<p>The following is a breakdown of data listings currently in the HIEv data capture application. Different statistics are 
		listed, from overall numbers of files in HIEv right down to the number of files per file type per facility for example. Note that
		the statistics are generated around midnight each night (see timestamp below) and so will not account for any files that have been uploaded after that
		point.
  <h2 class="pink_writing topspace20">Summary</h2>
	<div id="summary">
	</div>

  <h2 class="pink_writing topspace50">File Type Summary</h2>
  <table class="table table-striped table-hover table-bordered">
  	<thead>
  	  <th>File Type</th>
  	  <th>Total files</th>
  	  <th>Uploaded in last day</th>
  	</thead>
	  <tbody id="file_type_summaries">
	  </tbody>
	</table>


  <h2 class="pink_writing topspace50">Facility Summary</h2>
  <table class="table table-striped table-hover table-bordered">
  	<thead>
  	  <th>Facility Name</th>
  	  <th>Total files</th>
  	  <th>Uploaded in last day</th>
  	</thead>
	  <tbody id="facility_summaries">
	  </tbody>
	</table>


  <h2 class="pink_writing topspace50">Facility Detail</h2>
	<div id="facility_detail">
	</div>



</div>
