<% provide(:pageheading, 'HIE-Storage Stats') %>

<div class="col-md-9">
	<p>
    The following table shows the current data volumes/numbers and daily transfer activity for each folder within the HIE-Storage 'Working data' folder (Projects, Sensors, etc).
  </p>
  <br/>
  <div id="todaysdate">
    Date =
	</div>
  <br/>
	<table id="hiestorage_stats" class="table table-striped table-hover table-bordered">
		<thead>
			<th>Facility</th>
			<th>Data type</th>
			<th>Name</th>
			<th>Number of files</th>
			<th>Number of files transferred (last 24 hrs)</th>
			<th>Data volume (MB)</th>
			<th>Data volume transferred (MB) (last 24 hrs) </th>
		</thead>
		<tbody>
		</tbody>
	</table>

</div>
