  <div class="container">
    <hr>
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Hawkesbury Institute for the Environment,</p>
          <p>University of Western Sydney</p>
        </div>
      </div>
    </footer>
  </div>
